#beian {
  display: none;
  position: absolute;
  z-index: 90000;
  font-size: 12px;
  left: 50%;
  margin-left: -55px;
  margin-top: 32px;
  a {
    color: #bd0000;
  }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  z-index: 90000;
}

//圆角btn
.yuanBtn {
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}

//圆角阴影
.yuan {
  .yuanBtn();
  -webkit-box-shadow: 0px 0px 3px 1px #777;
  -moz-box-shadow: 0px 0px 3px 1px #777;
  box-shadow: 0px 0px 3px 1px #777;
}

.mui-bar-tab .mui-tab-item.mui-active {
  color: #000;
}

.mui-bar-tab .mui-tab-item {
  color: #000;
  .mui-icon {
    font-size: 22px;
  }
}

.mui-bar-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mui-bar {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #000;
  padding-top: 4px;
  .mui-icon {
    font-size: 18px;
  }
}

.mui-bar-tab ~ .mui-content {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #fff;
}

//公共style .mt .ml .all .clear .left .right .c .linkMouse .hide .angualrEnd
html, body {
  height: 100%;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  background-color: #777;
  color: #000;
}

.c {
  margin: 0 auto
}

.cText {
  text-align: center
}

.mt(@top:10) {
  margin-top: unit(@top, px);
}

.ml(@left:10) {
  margin-left: unit(@left, px);
}

//.all() 用法 传入 number 1，就是按百分比居中,不传就是按百分比几份
.all(@all:10,@num:10,@one:'1') {
  @item: 100% / @all;
  width: @item * @num;
  .left;
}

.all(@all:10,@num:10,@one:'1') when (isnumber(@one)) {
  @item: 100% / @all;
  margin-left: @item * ((@all - @num) / 2);
}

.left {
  float: left;
}

.right {
  float: right
}

.clear {
  zoom: 1;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
  &:before {
    content: "";
    display: table;
  }
}

.hide {
  display: none;
}

.angularEnd {
  display: none;
}

.linkMouse {
  cursor: pointer;
}

.line {
  border-bottom: solid 1px #EEE
}

//.all() 用法 传入
.allHeight(@all:10,@num:10,@mTop:0) {
  @item: 100% / @all;
  height: @item * @num;
  .clear;
}

//mui
.icon-btn {
  background-color: transparent;
  border: 0px;
  &:active {
    background-color: #bd0000;
  }
}

#tab {
  position: fixed;
  top: 50px;
  height: 44px;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  .btn {
    .mt(11);
    margin-bottom: 12px;
    padding-top: 3px;
    line-height: 24px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .thisItem {
    background-color: #bd0000;
    color: #fff;
    .yuanBtn();
  }
  .threeTab {
    text-align: center;
    .left();
    .all(100, 33);
  }
  .twoTab {
    text-align: center;
    .left();
    .all(100, 50);
  }
  .fourTab {
    text-align: center;
    .left();
    .all(100, 25);
  }
}

//aleatUi
#alertUi {
  position: fixed;
  top: 10px;
  height: 70px;
  .all(10, 8, 1);
  z-index: 90000;
  .showThis {
    .yuan;
    background-color: #fff;
    .bounceInDown();
    .animation(bounceInDown 0.5s ease-in-out);
  }
  .hideThis {
    .yuan;
    background-color: #fff;
    .fadeOut();
    .animation(fadeOut 1s ease-in-out);
  }
}

.viewContent {
  margin-top: 50px;
  padding-bottom: 50px;
}

#titleInfo {
  margin: 0 auto;
  width: 194px;
  text-align: center;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  .yuanBtn();
}

.listHeader {
  .all(10, 1);
  overflow-y: hidden;
  img {
    width: 20px;
    height: 20px;
  }
}

.listTitle {
  .all(10, 9);
}

//list 操作面板
.panle {
  margin-top: 10px;
  text-align: left;
  .icon-btn {
    color: #d8d8d8;
    &:active {
      color: #fff;
      background-color: #bd0000;
    }
  }
  .icon-btn-noBack {
    background-color: transparent;
    border: 0px;
    &:active {
      background-color: #bd0000;
      color: #fff;
    }
  }
  .fa-star-o {
    color: #d8d8d8;
  }
  .fa-star {
    color: #bd0000;
  }
}

.bottomBar {
  .all(9, 3);
  .fa-navbar {
    font-size: 23px;
  }
}

.hImg {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -22px;
  margin-top: 11px;
  border: 1px solid #f4f4f4;
}

//发布
#subForm {
  .yuanBtn();
  background-color: #fff;
  border: 1px #bd0000 solid;
  position: absolute;
  width: 60%;
  padding: 10px;
  border-radius: 0.2em;
  left: 20%;
  top: -79px;
  color: #fff;
  font-size: 38px;
  line-height: 53px;
  text-align: center;
  .mui-btn {
    width: 47%;
    font-size: 24px;
    color: #fff;
    background-color: #bd0000;
    margin-bottom: 10px;
  }
}

//筛选
#shaiXuanTab {
  .mt(10);
  height: 36px;
  overflow: hidden;
  .all();
  background-color: #fff;
  .mui-btn {
    border: none;

  }
  //padding-top: 10px;
  .shaiXuan {
    .all(100, 33);
    float: left;
    border-right: 1px solid #f4f4f4;
    text-align: center;
    color: #777;
    font-size: 14px;
    padding-top: 11px;
  }
  .shaiXuanGaoLiang{
   color: #bd0000;
  }

  .shaiXuanIndex2 {
    border: none;
  }

}




