<div class="scrollable" style="padding-top: 103px;padding-bottom: 32px">
    <div class="scrollable-content" ui-scroll-bottom="a()">
        <div class="list-group">
            <a class="list-group-item" bindonce ng-repeat="vo in list" style="height: 100px;overflow: hidden">
                <div class="clear" bindonce ng-repeat="(key,vo2) in vo">
                <span style="font-size: 1.4em">
                   {{key}}
                </span>
                <span style="font-size: 1.4em">
                   {{vo2}}
                </span>
                </div>
            </a>
        </div>
    </div>
</div>
