<!--getCurlTest-->
<div style="background-color: #f0f0f0;padding: 10px">
    <h4>
        getCurlTest curl can change json
        <span style="color:red">{{mess}}</span>
    </h4>
    <hr/>
    <div style="float:left">url:<input type="text" ng-model="url"></div>
    <button style="float:left;background:red;color:white" ng-click="fun.getCurlUrl()">curl Url</button>
    <input type="checkbox" ng-model="isJson"/> showJSON  {{isJson}}
    <div ng-hide="isJson" ng-bind-html="doc|toHtml"></div>
    <div ng-show="isJson">{{doc}}</div>
</div>