<!--入库三级周边表-->
<div style="background-color: #f0f0f0;margin-top:20px;padding: 10px;">
    <h4>
        inputPois directive
        <span style="color:red">{{mess}}</span>
        <span style="color:red">sosoCount:{{overCount}}</span>
        <span style="color:red">sosoAk:{{sosoAk}}</span>
    </h4>
    <hr/>
    <button style="float:left;background:red;color:white" ng-click="fun.startClick()">start</button>
    <button style="float:left;background:red;color:white" ng-click="fun.addTempCount()">add once tempCount</button>
    <div style="clear:both"></div>
    <hr/>
    <!--入库全国tempGps-->
    <h4>startTempGpsInDb</h4>
    <button style="float:left;background:red;color:white" ng-click="fun.startTempGpsInDb()">startTempGpsInDb</button>
    <div style="clear:both"></div>
    <hr/>
    <!--遍里gps 属于中国-->
    <h4>eachGpsIN China</h4>
    <button style="float:left;background:red;color:white" ng-click="fun.eachGpsInChina()">eachGpsIN China</button>
    <button style="float:left;background:red;color:white" ng-click="fun.stopGetGpsInChina()">stopeachGpsIN China
    </button>
    <div style="clear:both"></div>
    <hr/>
</div>
