<extend name="base/layout" />
<block name="content">
	<php>$s = $_SESSION;</php>
	<div class="all_width clearThis" id='urlMark' urlMark='category'>
		<div class="classTitle clearThis" ng-controller="classTitle">
			<div class="content_width clearThis">
                <div class='left' style=''>
                    {//遍历place Type 级别 显示不同 地域}
                    <switch name="s['place']['type']">
                        <case value='1'>{//一级 --天津} {$s['place']['thisCityInfo']['name']}
                        </case>
                        <case value='2'>{//2级 --武清} {$s['place']['oneCityInfo']['name']}{$s['place']['thisCityInfo']['name']}
                        </case>
                        <case value='3'>{//3级 --河西务} {$s['place']['oneCityInfo']['name']}{$s['place']['twoCityInfo']['name']}{$s['place']['thisCityInfo']['name']}
                        </case>
                    </switch>

                    {//关键词} {$s['key']['catAndThisKey']['thisKey']['name']}


                </div>
                <div class='left mt7 linkMouse ml10 jionDiPan' style='font-size:12px;color: #fff;padding: 3px;' ng-click="fun.joinClick()">
                   加入地盘
                </div>
			</div>
		</div>
		<div class="content_width clearThis" style="margin-top: 20px" ng-controller='diPanCategory'>
			<div class="informationTop">
				<div class="chooseItem clearThis mt10">

					{//存取当前关键词的分类id，作为默认高亮分类用 id}
					<div class="itemClass left clearThis" id='thisKeyCatId' data-threeListType='{$s['key']['catAndThisKey']['thisKey']['categoryInfo']['type']}'>类别:</div>
					<div class="classContent clearThis left">

						{// 分类第一行 repeat}
						<volist name='catTwoList' id='vo'>
						<div class="left unselectedTab {$vo.gaoLiang}"><a href="{$vo.keyPy}">{$vo.name}</a>
                        </div>
						</volist>

					</div>
				</div>
				<div class="chooseItem classTab clearThis mt10 angularEnd" ng-show='categoryList.threeListDivShow'>
					<div class="classContent clearThis left">

						{// 分类第2行 repeat}

						<volist name='catThreeList' id='vo2'>
						<div class="left {$vo2.gaoLiang} unselectedTab"><a href="{$vo2.keyPy}" class="linkMouse">{$vo2.name}</a>
						</div>
						</volist>

					</div>
				</div>
				<div class="chooseItem clearThis mt10">
					<div class="itemClass left clearThis">地盘:</div>
					<div class="classContent clearThis left">

						{//遍历place Type 级别 显示不同 地域}
						<switch name="s['place']['type']">

							<case value='1'>{//一级 --天津}
								<div class="left areaShow ml10 linkMouse">
									<div class="left">全{$s['place']['thisCityInfo']['name']}</div>
									<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
									<div class="clearThis"></div>
									<div class="othrerCityAlertDiv">

										{//循环周边城市}

										<volist name="s['place']['otherCity']" id='vo'>
											<div class="left ml6">
												<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
											</div>
										</volist>
									</div>
								</div>
							</case>

							<case value='2'>{//2级 --武清}

								<div class="left areaShow ml10 linkMouse">
									<div class="left">
										{$s['place']['oneCityInfo']['name']}
									</div>
									<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
									<div class="clearThis"></div>
									<div class="othrerCityAlertDiv">

										{//循环周边城市}

										<volist name="s['place']['otherCity']" id='vo'>
											<div class="left ml6">
												<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
											</div>
										</volist>
									</div>
								</div>

								{//武清区，二级地区变量,用 }
								<div class="left areaShow ml20 linkMouse">

									<div class="left">
										{$s['place']['thisCityInfo']['name']}
									</div>
									<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
									<div class="clearThis"></div>
									<div class="othrerCityAlertDiv">

										<div class="left"><a style='font-weight: bold;' href="http://{$s['place']['oneCityInfo']['py']}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">
										全{$s['place']['oneCityInfo']['name']}
									</a>
										</div>

										{//循环二级地区}

										<volist name="twoList" id="vo">
											<div class="left ml6">
												<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
											</div>
										</volist>
									</div>
								</div>
							</case>

							<case value='3'>{//3级 --河西务}

								<div class="left areaShow ml10 linkMouse">
									<div class="left">
									{$s['place']['oneCityInfo']['name']}
									</div>
									<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
									<div class="clearThis"></div>


									<div class="othrerCityAlertDiv">

										{//循环周边城市}

										<volist name="s['place']['otherCity']" id='vo'>
											<div class="left ml6">
												<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
											</div>
										</volist>
									</div>
								</div>

								{//武清区，二级地区变量,用 }
								<div class="left areaShow ml20 linkMouse">
									<div class="left">
									{$s['place']['twoCityInfo']['name']}
									</div>
									<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
									<div class="clearThis"></div>


									<div class="othrerCityAlertDiv">

										<div class="left"><a style='font-weight: bold;' href="http://{$s['place']['oneCityInfo']['py']}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">
										全{$s['place']['oneCityInfo']['name']}
									</a>
										</div>
										{//循环二级地区}

										<volist name="twoList" id="vo">
											<div class="left ml6">
												<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
											</div>
										</volist>
									</div>
								</div>

								{//河西务， 三级级地区变量,}
								<div class="left areaShow ml20 linkMouse">

									<div class="left">
									{$s['place']['thisCityInfo']['name']}
									</div>
									<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
									<div class="clearThis"></div>
									<div class="othrerCityAlertDiv">

										<div class="left"><a style='font-weight: bold;' href="http://{$s['place']['twoCityInfo']['py']}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">
										全{$s['place']['twoCityInfo']['name']}
									</a>
										</div>
										{//循环3级地区}

										<volist name="listSonCity" id="vo">
											<div class="left ml6" >
												<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
											</div>
										</volist>
									</div>
								</div>
							</case>
						</switch>

						<div class="left chooseArea ml30">

							{//遍历place Type 级别 显示不同 地域}
							<switch name="s['place']['type']">
								<case value='1'>{//一级 --天津}

									<div class="left areaShow ml10 linkMouse">
										<div class="left" style="color: #000;">全部地区</div>
										<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
										<div class="clearThis"></div>
										<div class="othrerCityAlertDiv">

											{//循环二级地区}
											<volist name="twoListOne" id="vo">
												<div class="left">
													<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
												</div>
											</volist>
										</div>
									</div>

								</case>

								<case value='2'>{//2级 --武清}

									<div class="left areaShow ml10 linkMouse">
										<div class="left" style="color: #000;">全部地区</div>
										<div class="left" style="color:#46C1CF;margin-left: 3px;margin-top: 7px;font-size: 20px;height: 10px;overflow: hidden;">ˇ</div>
										<div class="clearThis"></div>
										<div class="othrerCityAlertDiv">

											{//循环二级地区}
											<volist name="listSonCity" id="vo">
												<div class="left" style="margin-left: 6px;">
													<a href="http://{$vo.py}.dipan.so/{$s['key']['catAndThisKey']['thisKey']['py']}">{$vo.name}</a>
												</div>
											</volist>
										</div>
									</div>

								</case>
							</switch>

						</div>
					</div>
				</div>

			</div>
			<div class="information clearThis">
				<div class="content_left left">
					<div class="informationItem clearThis">
						<div class="informationPic left clearThis">
							<a href="">
								<img src="">
							</a>
						</div>
						<div class="informationContent left ml10 clearThis">
							<div class="informationTitle clearThis mt3">搬家搬家</div>
							<div class="informationIntro clearThis mt10">好好好</div>
						</div>
					</div>

					<div class="informationItem clearThis">
						<div class="informationPic left clearThis">
							<a href="">
								<img src="">
							</a>
						</div>
						<div class="informationContent left ml10 clearThis">
							<div class="informationTitle clearThis mt3">搬家搬家</div>
							<div class="informationIntro clearThis mt10">好好好</div>
						</div>
					</div>
				</div>
				<div class="content_right left"></div>
			</div>

		</div>
	</div>
</block>

<block name="otherJs">
	<script type="text/javascript" src="http://www.dipan.so:8080/Public/publicDefault/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://www.dipan.so:8080/Public/publicDefault/jquery.easing.min.js"></script>
	<script type="text/javascript" src="{$g.getG.apiHost}/Public/itemJs/seajs/app/oeoeFront/public/autocomplete-master/jquery.autocomplete.js"></script>
	<script src="{$g.getG.apiHost}/Public/itemJs/seajs/dist/sea.js" type="text/javascript"></script>
	<script>
		seajs.config({
			debug: false
		});
		seajs.use(["http://www.dipan.so:8080/Public/itemJs/seajs/app/oeoeFront/item/Home/indexCategory.js", "http://www.dipan.so:8080/Public/itemJs/seajs/app/oeoeFront/otherJs/talkSocket.js"], function() {
			angular.element(document).ready(function() {
				angular.bootstrap(window.document, ["diPanSo"]); //启动angular
			})
		});
	</script>
	<link rel='stylesheet' href="{$g.getG.apiHost}/Public/itemJs/seajs/app/oeoeFront/public/autocomplete-master/jquery.autocomplete.css" />
</block>