.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
}
.yuanBtn {
  border-radius: 0.2em;
}
.yuan {
  border-radius: 0.2em;
  box-shadow: 0px 0px 3px 1px #777;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #000;
}
.mui-bar-tab .mui-tab-item {
  color: #000;
}
.mui-bar-tab .mui-tab-item .mui-icon {
  font-size: 22px;
}
.mui-bar-nav {
  box-shadow: none;
}
.mui-bar {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #000;
  padding-top: 4px;
}
.mui-bar .mui-icon {
  font-size: 18px;
}
.mui-bar-tab ~ .mui-content {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #fff;
}
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  background-color: #777;
  color: #000;
}
.c {
  margin: 0 auto;
}
.cText {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  zoom: 1;
}
.clear:after {
  clear: both;
  content: "";
  display: table;
}
.clear:before {
  content: "";
  display: table;
}
.hide {
  display: none;
}
.angularEnd {
  display: none;
}
.linkMouse {
  cursor: pointer;
}
.line {
  border-bottom: solid 1px #eeeeee;
}
.icon-btn {
  background-color: transparent;
  border: 0px;
}
.icon-btn:active {
  background-color: #bd0000;
}
#tab {
  position: fixed;
  top: 50px;
  height: 44px;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding-top: 10px;
  border-bottom: 1px solid #000;
}
#tab .btn {
  margin-top: 11px;
  margin-bottom: 12px;
  padding-top: 3px;
  line-height: 24px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
#tab .thisItem {
  background-color: #bd0000;
  color: #fff;
  border-radius: 0.2em;
}
#tab .threeTab {
  text-align: center;
  width: 33%;
  float: left;
}
#tab .twoTab {
  text-align: center;
  width: 50%;
  float: left;
}
#tab .fourTab {
  text-align: center;
  width: 25%;
  float: left;
}
#alertUi {
  position: fixed;
  top: 10px;
  height: 70px;
  width: 80%;
  float: left;
  margin-left: 10%;
  z-index: 90000;
}
#alertUi .showThis {
  border-radius: 0.2em;
  box-shadow: 0px 0px 3px 1px #777;
  background-color: #fff;
  -webkit-animation: bounceInDown 0.5s ease-in-out;
  -ms-animation: bounceInDown 0.5s ease-in-out;
  animation: bounceInDown 0.5s ease-in-out;
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 8%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -5%, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2.5%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translate3d(0, 8%, 0);
  }
  75% {
    -ms-transform: translate3d(0, -5%, 0);
  }
  90% {
    -ms-transform: translate3d(0, 2.5%, 0);
  }
  100% {
    -ms-transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 8%, 0);
            transform: translate3d(0, 8%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -5%, 0);
            transform: translate3d(0, -5%, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2.5%, 0);
            transform: translate3d(0, 2.5%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
#alertUi .hideThis {
  border-radius: 0.2em;
  box-shadow: 0px 0px 3px 1px #777;
  background-color: #fff;
  -webkit-animation: fadeOut 1s ease-in-out;
  -ms-animation: fadeOut 1s ease-in-out;
  animation: fadeOut 1s ease-in-out;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.viewContent {
  margin-top: 50px;
  padding-bottom: 50px;
}
#titleInfo {
  margin: 0 auto;
  width: 194px;
  text-align: center;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  border-radius: 0.2em;
}
.listHeader {
  width: 10%;
  float: left;
  overflow-y: hidden;
}
.listHeader img {
  width: 20px;
  height: 20px;
}
.listTitle {
  width: 90%;
  float: left;
}
.panle {
  margin-top: 10px;
  text-align: left;
}
.panle .icon-btn {
  color: #d8d8d8;
}
.panle .icon-btn:active {
  color: #fff;
  background-color: #bd0000;
}
.panle .icon-btn-noBack {
  background-color: transparent;
  border: 0px;
}
.panle .icon-btn-noBack:active {
  background-color: #bd0000;
  color: #fff;
}
.panle .fa-star-o {
  color: #d8d8d8;
}
.panle .fa-star {
  color: #bd0000;
}
.bottomBar {
  width: 33.33333333%;
  float: left;
}
.bottomBar .fa-navbar {
  font-size: 23px;
}
