<div class="clear" id="shaiXuanTab" ng-show="needShaiXuan">
    <div class="shaiXuan mui-btn shaiXuanIndex{{$index}} {{vo.shaiXuanGaoLiang}}" ng-repeat="vo in shaiXuanList"
         id="shaiXuanClick_{{$index}}" thisid="{{vo.thisId}}">
        <div>
            <span ng-if="vo.type != 'six'">{{vo.thisName}}</span>
            <span ng-if="vo.type == 'six'">{{thisCity}}</span>
            <span class="fa fa-long-arrow-down" ng-if="vo.type != 'six'"></span>
            <span class="fa fa-exchange" ng-if="vo.type == 'six'"></span>
        </div>
    </div>
</div>
