<div style="color: #777;padding: 1rem" id="killContent">
    <div class="mui-table-view mui-table-view-chevron clear" id="killContentSoller"
         style="margin-top: 40px;margin-bottom: 60px">
        <!--头像-->
        <div class="clear itemFrom " style="margin-top: 1rem">
            <div class="left" style="width: 71px;height: 71px;overflow: hidden;border: 1px solid #f4f4f4">
                <img bindonce="data.doc.userData.headerImg" bo-src="data.doc.userData.headerImg" alt=""
                     style="width: 70px;height: auto">
            </div>
            <div class="left" style="font-size: 0.8rem ;margin-left: 1rem;color: #777">
                <span class="clear lan" style="font-size: 1rem" bindonce="data.doc.userData.userName"
                      bo-text="data.doc.userData.userName"></span>
                <span class="clear" bindonce="data.doc.userData.sex" bo-text="data.doc.userData.sex"></span>
                <span class="clear" bindonce="data.doc.userData.age" bo-text="data.doc.userData.age"></span>
            </div>
            <div class="right" style="font-size: 0.8rem ;margin-left: 1rem;color: #777;text-align: right">
                <span class="clear lan" style="" bindonce="data.doc.userData.city"
                      bo-text="data.doc.userData.city"></span>
                <span class='fa fa-map-marker' style='margin-left: 1rem'></span>
                <span class='' style='margin-left: 3px' bindonce="data.doc.userData"
                      bo-text='data.doc.userData.far + "km"'></span>
                <span class="clear" bindonce="data.doc.userData.mt" bo-text="data.doc.userData.mt"></span>
            </div>
        </div>
        <div class="line" style="margin-top: 1rem"></div>


        <!--技能-->
        <div class="clear"></div>
        <div class="clear" style="margin-top: 1.5rem;width: 100%">
            <div class="clear" style="font-size: 1.2rem; width: 100%">
                <span class="clear lan" bindonce="data.doc.thisJiNeng.title" bo-text="data.doc.thisJiNeng.title"></span>
                <i class="left" style="color: red;font-size: 0.9rem;" bindonce="data.doc.thisJiNeng.priceStr"
                   bo-text="data.doc.thisJiNeng.priceStr"></i>
                <i class="left hui" style="font-size: 0.8rem;margin-left: 1rem"
                   bindonce="data.doc.thisJiNeng.serviceStr"
                   bo-text="data.doc.thisJiNeng.serviceStr"></i>
                <div class="clear" style="font-size: 1rem;margin-top: 2rem;color: #777;width: 100%"
                     bindonce="data.doc.thisJiNeng.content"
                     bo-text="data.doc.thisJiNeng.content"></div>
            </div>
        </div>
        <div class="line" style="margin-top: 0.8rem"></div>
        <!--图片-->
        <img class="clear" bindonce="data.doc.thisJiNeng.imgs" bo-src="vo" ng-repeat="vo in data.thisJiNeng.imgs"
             style="width: 100%;max-width: 25rem;"/>

        <div class="line" style="margin-top: 1rem"></div>

        <!--其他技能-->
        <div class="clear"></div>
        <div class="clear" style="margin-top: 1.5rem;width: 100%">
            <div class="clear" style="font-size: 0.8rem; width: 100%">
                <span class="clear lan">此用户其他技能 / 服务</span>
            </div>
            <div class="clear mui-btn"
                 style="font-size: 1rem; width: 100%;text-align: left;border-color: #e9e9e9;margin-top: 0.8rem;color: #777"
                 bindonce="data.doc.jiNengList"
                 bo-id="'jiNengList_' + vo._id"
                 bo-attr
                 bo-attr-subid="vo._id"
                 ng-repeat="vo in data.doc.jiNengList"
                 bo-html="vo.title +'&nbsp;&nbsp;&nbsp;<i>' + vo.priceStr + '</i>'">
            </div>

        </div>

    </div>
    <style>
        #bottomNav {
            display: none;
        }
    </style>
</div>

