<div id="myNeed">
    <div class="clear" style="margin-top: 1.5rem;width: 100%;text-align: center">
        <h5 style="margin:0 auto;color: red" ng-show="errMsg">{{errMsg}}</h5>

        <div class="lan" style="text-align: left;margin-left: 10px">有效</div>
        <div class="hui" style="text-align: left;margin-left: 10px;font-size: 0.8rem"
             ng-if="!listTypeOne[0]">暂无数据
        </div>

        <div class="clear"
             style="width: 100%;text-align: left;font-size: 1rem;"
             bindonce="listTypeOne"
             ng-repeat="vo in listTypeOne">
            <div class="clear" style="margin-top: 1rem">
                <div class="left mui-btn "
                     style="padding-left: 10px;padding-right: 10px;color: #777;min-width: 70%;text-align: left;border: none"
                     bo-text="vo.title"
                     bo-id="'myNeedListClick_'+vo._id"
                     bo-attr
                     bo-attr-needid="vo._id"
                ></div>
                <div class="right">
                    <div class="left hui mui-btn fa fa-times"
                         bindonce="vo.state"
                         bo-if="vo.state != 2"
                         bo-id="'myNeedListDel_'+vo._id"
                         bo-attr
                         bo-attr-needid="vo._id"
                         style="margin-left: 0rem;border: none"></div>
                </div>
            </div>
            <div class="clear line"></div>
        </div>


        <div class="clear" style="margin-top: 40px"></div>
        <div class="lan" style="text-align: left;margin-left: 10px">失效</div>

        <div class="hui" style="text-align: left;margin-left: 10px;font-size: 0.8rem"
             ng-if="!listTypeTwo[0]">暂无数据
        </div>

        <div class="clear"
             style="width: 100%;text-align: left;font-size: 1rem;"
             bindonce="listTypeTwo" ng-repeat="vo in listTypeTwo"
        >
            <div class="clear" style="margin-top: 1rem">
                <div class="left" style="color: red;font-size: 0.8rem;margin-top: 5px" bindonce="vo.state"
                     bo-if="vo.state == 3">[成交]
                </div>
                <div class="left" style="color: red;font-size: 0.8rem;margin-top: 5px" bindonce="vo.state"
                     bo-if="vo.state == 4">[过期]
                </div>
                <div class="left mui-btn "
                     style="padding-left: 10px;padding-right: 10px;color: #777;min-width: 70%;text-align: left;border: none"
                     bo-text="vo.title"
                     bo-id="'myNeedListClick_'+vo._id"
                     bo-attr
                     bo-attr-needid="vo._id"
                ></div>
                <div class="right">
                    <div class="left hui mui-btn fa fa-times"
                         bo-id="'myNeedListDel_'+vo._id"
                         bo-if="(vo.pingJiaState ==3 && vo.state==3) || (vo.state==4)"
                         bo-attr
                         bo-attr-needid="vo._id"
                         style="margin-left: 0rem;border: none;height: 25px"></div>
                    <div class="left hui mui-btn "
                         bo-id="'myNeedListGo_'+vo._id"
                         bo-if="vo.pingJiaState !=3 &&  vo.state==3"
                         bo-attr
                         bo-attr-needid="vo._id"
                         style="margin-left: 0rem;border: none;height: 25px">等待互评
                    </div>
                </div>
            </div>
            <div class="clear line"></div>
        </div>


    </div>
</div>

