<div id="orderFrom">
    <div class="clear" style="margin-top: 1.5rem;width: 100%">
        <div class="lan clear" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem"
             ng-show="!isHaveJinengOrderFrom && !isHaveNeedOrderFrom && !isHaveSelectOrderFrom && !isHaveLoseOrderFrom">
            暂无订单!
        </div>
        <div id="jinengOrderFrom" ng-show="isHaveJinengOrderFrom">
            <div class="lan clear" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">技能订单</div>

            <div class="clear" style="margin-top: 1rem" bindonce="list.jiNengOrderList"
                 ng-repeat="vo in list.jiNengOrderList" bo-id="'jinengOreder_'+vo.orderId._id">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #e3f5f9">
                    <div class="left " style="font-size: 0.8rem;color: red;" bindonce="vo.bindUidType"
                         bo-if="vo.bindUidType == 1">[抢]
                    </div>
                    <div class="left " style="font-size: 0.8rem;color:#30a080 ;" bindonce="vo.bindUidType"
                         bo-if="vo.bindUidType == 2">[接]
                    </div>
                    <div class="left lan" style="margin-left: 1rem" bo-text="vo.orderId.title"></div>
                    <div class="left" style="margin-left: 1rem">
                        <span class="left" style="color: #777;font-size: 0.8rem" bindonce="vo.orderUid"
                              bo-if="vo.orderUid.name" bo-text="vo.orderUid.name"></span>
                        <span class="left" style="color: #777;font-size: 0.8rem" bindonce="vo.orderUid"
                              bo-if="!vo.orderUid.name" bo-text="vo.orderUid.mt"></span>
                        <span class="left">
                        <i class="fa fa-ellipsis-h fa-2x"
                           style="width: 7px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;height: 25px"
                           bo-if="!vo.bindUidIsReadMark"></i>
                        </span>
                    </div>
                    <div class="right  fa fa-angle-right" style="margin-top: 3px"></div>
                </div>
            </div>
        </div>

        <div id="needOrderFrom" style="margin-top: 2.5rem" ng-show="isHaveNeedOrderFrom">
            <div class="lan" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">需求订单</div>
            <div class="clear" style="margin-top: 1rem" bindonce="list.needOrderList"
                 ng-repeat="vo2 in list.needOrderList" bo-id="'needOrder_'+vo2.orderId">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #eff7ef">
                    <div class="left lan" style="margin-left: 1rem;" bo-text="vo2.title"></div>
                    <div class="left" style="margin-left: 1rem">
                        <span class="left"
                              style="font-size: 0.8rem"
                              bo-if="vo2.beiDongJieDan[0] && vo2.beiDongJieDan[0].name"
                        >等</span>
                        <span class="left" style="color: red;font-size: 0.8rem"
                              bindonce="vo2"
                              bo-if="vo2.beiDongJieDan[0] && vo2.beiDongJieDan[0].name"
                              bo-text="vo2.beiDongJieDan[0].name"></span>
                        <span class="left" style="color: red;font-size: 0.8rem"
                              bindonce="vo2"
                              bo-if="vo2.beiDongJieDan[0] && !vo2.beiDongJieDan[0].name"
                              bo-text="vo2.beiDongJieDan[0].mt"></span>
                        <span class="left"
                              style="font-size: 0.8rem"
                              bo-if="vo2.beiDongJieDan[0] && vo2.beiDongJieDan[0].name"
                        >接单</span>
                        <span class="left" style="font-size: 0.8rem;margin-left: 3px"
                              bindonce="vo2"
                              bo-if="vo2.beiDongJieDan[0] && vo2.jieDanCount > 0"
                        >还有</span>
                        <span class="left" style="color: red;font-weight: bolder;font-size: 0.8rem"
                              bindonce="vo2"
                              bo-if="vo2.jieDanCount > 0"
                              bo-text="vo2.jieDanCount"
                        ></span>
                        <span class="left" style="font-size: 0.8rem;margin-left: 3px"
                              bindonce="vo2"
                              bo-if="vo2.jieDanCount > 0"
                        >人抢单</span>
                        <span class="left">
                        <i class="fa fa-ellipsis-h fa-2x"
                           style="width: 7px;height:25px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;"
                           bo-if="vo2.isNoRead"></i>
                        </span>
                    </div>
                    <div class="right  fa fa-angle-right" style="margin-top: 3px"></div>
                </div>
            </div>
        </div>

        <div id="selectOrderFrom" style="margin-top: 2.5rem" ng-show="isHaveSelectOrderFrom">
            <div class="lan" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">成交订单</div>

            <!--作为orderId成功的订单-->
            <div class="clear" style="margin-top: 1rem" bindonce="list.selectOrderList"
                 ng-repeat="vo3 in list.selectOrderList" bo-id="'selectOrder_'+vo3.orderId">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #f7e2e1">

                    <div class="left" bo-id="'selectListGo_'+vo3.orderId" bo-attr bo-attr-orderid="vo3.orderId">
                        <div class="left lan" style="margin-left: 1rem;" bo-text="vo3.orderTitle"></div>
                        <div class="left" style="margin-left: 1rem">
                        <span style="font-size: 0.8rem" bindonce="vo3.bindUid"
                              bo-text="vo3.bindUid.name || vo3.bindUid.mt"></span>
                        </div>


                        <!--未读标记-->
                        <span class="left">
                        <i class="fa fa-ellipsis-h fa-2x"
                           style="width: 7px;height:25px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;"
                           bo-if="vo3.selectReadMark_orderUidIsReady===false"></i>
                        </span>

                    </div>

                    <div class="right  fa fa-times mui-btn" bo-id="'delSelect_'+vo3.orderId"
                         bo-if="vo3.pingJiaState == 3"
                         bo-attr
                         bo-attr-orderid="vo3.orderId"
                         style="margin-top: -2px;border: none;background:none"></div>
                    <div class="right  mui-btn" bo-id="'pingJiaGo_'+vo3.orderId"
                         bo-if="vo3.pingJiaState != 3"
                         bo-attr
                         bo-attr-orderid="vo3.orderId"
                         style="margin-top: -2px;border: none;background:none;font-size: 12px">等待互评
                    </div>
                </div>
            </div>

            <!--作为bindUid成功的订单-->
            <div class="clear" style="margin-top: 1rem" bindonce="list.selectBindUidOrderList"
                 ng-repeat="vo31 in list.selectBindUidOrderList" bo-id="'selectOrder_'+vo31.orderId._id">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #f7e2e1">

                    <div class="left" bo-id="'selectListGo_'+vo31.orderId._id"
                         bo-attr
                         bo-attr-orderid="vo31.orderId._id">
                        <div class="left lan" style="margin-left: 1rem;" bo-text="vo31.orderId.title"></div>
                        <div class="left" style="margin-left: 1rem">
                        <span class="left" style="font-size: 0.8rem" bindonce="vo31.orderUid"
                              bo-text="vo31.orderUid.name || vo31.orderUid.mt"></span>

                            <!--未读标记-->
                            <span class="left">
                                <i class="fa fa-ellipsis-h fa-2x"
                                   style="width: 7px;height:25px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;"
                                   bo-if="vo31.selectReadMark_bindUidIsReady===false"></i>
                            </span>

                        </div>
                    </div>

                    <div class="right fa fa-times mui-btn" bo-id="'delLose_'+vo31.orderId._id"
                         bo-if="vo31.orderId.pingJiaState == 3"
                         bo-attr
                         bo-attr
                         bo-attr-orderid="vo31.orderId._id"
                         style="margin-top: -2px;border: none;background:none"></div>
                    <div class="right  mui-btn" bo-id="'pingJiaGo_'+vo31.orderId._id"
                         bo-if="vo31.orderId.pingJiaState != 3"
                         bo-attr
                         bo-attr-orderid="vo31.orderId._id"
                         style="margin-top: -2px;border: none;background:none;font-size: 12px">等待互评
                    </div>
                </div>
            </div>
        </div>

        <div id="loseOrderFrom" style="margin-top: 2.5rem" ng-show="isHaveLoseOrderFrom">
            <div class="lan" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">失效订单</div>
            <!--当前uid 作为 bindUser 失效 时间失效,和选别人了-->
            <div class="clear" style="margin-top: 1rem" bindonce="list.loseOrderList"
                 ng-repeat="vo4 in list.loseOrderList" bo-id="'loseOrder_'+vo4.orderId">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #e9e9e9">

                    <div class="left" bo-id="'loseOrderGo_'+vo4.orderId._id" bo-attr bo-attr-orderid="vo4.orderId._id">

                        <!--过期-->
                        <div class="left" style="margin-left: 1rem" bindonce="vo4.bindUidType"
                             bo-if="vo4.bindUidType==4">
                            <span style="font-size: 0.8rem">[过期了]</span>
                        </div>

                        <!--选别人-->
                        <div class="left" style="margin-left: 1rem" bindonce="vo4.bindUidType"
                             bo-if="vo4.bindUidType==5">
                            <span style="font-size: 0.8rem">[选</span>
                            <img style="width: 15px;height: 15px;border-radius: 15px;"
                                 bindonce="vo4.selectBindUser.bindUid"
                                 bo-src="vo4.selectBindUser.bindUid.headerImg || defaultHeader" alt="">
                            <span style="font-size: 0.8rem;color: red" bindonce="vo4.selectBindUser.bindUid"
                                  bo-text="vo4.selectBindUser.bindUid.name || vo4.selectBindUser.bindUid.mt"></span>
                            <span bindonce="vo4.bindUidType" bo-if="vo4.bindUidType==5"
                                  style="font-size: 0.8rem">了]</span>
                        </div>

                        <div class="left lan" style="margin-left: 1rem;" bo-text="vo4.orderId.title"></div>

                    </div>

                    <!--删除 改关系表状态 -->
                    <div class="right fa fa-times mui-btn" bo-id="'delLose_'+vo4.orderId._id"
                         bo-attr
                         bo-attr-orderid="vo4.orderId._id"
                         style="margin-top: -2px;border: none;background:none"></div>
                </div>
            </div>

            <!--当前uid 作为 orderUid 失效 时间失效-->
            <div class="clear" style="margin-top: 1rem" bindonce="list.loseOrderNeedList"
                 ng-repeat="vo5 in list.loseOrderNeedList" bo-id="'loseNeedOrder_'+vo5.orderId">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #e9e9e9">

                    <div class="left" bo-id="'loseNeedOrderGo_'+vo5._id" bo-attr bo-attr-orderid="vo5._id">
                        <div class="left" style="margin-left: 1rem;font-size: 0.8rem">
                            [过期了]
                        </div>
                        <div class="left lan" style="margin-left: 1rem;" bo-text="vo5.title"></div>
                    </div>

                    <div class="right  fa fa-times mui-btn" bo-id="'delLoseNeed_'+vo5._id"
                         bo-attr
                         bo-attr-orderid="vo5._id"
                         style="margin-top: -2px;border: none;background:none"></div>
                </div>
            </div>
        </div>
    </div>
</div>
