<div style="color: #777;padding: 1rem" id="orderFromContent">

    <div class="mui-table-view mui-table-view-chevron clear"
         style="margin-top: 40px;margin-bottom: 60px">

        <div class="clear">
            <!--技能-->
            <div class="clear"></div>
            <div class="clear" style="margin-top: 1.5rem;width: 100%">
                <div class="clear" style="font-size: 1.2rem; width: 100%">
                    <div class="left lan" bindonce="data.thisNeed.title" bo-text="data.thisNeed.title"></div>

                    <div class="left hui" style="margin-top:3px;margin-left:3px;font-size: 0.8rem">
                        <span class="clear"
                              bindonce="data.thisNeed.date"
                              bo-text="data.thisNeed.date"></span>
                    </div>

                    <div class="clear"></div>
                    <div class="clear" style="margin-top:10px">
                    <span class="left" style="color: red;font-size: 1.2rem;margin-left: 0px"
                          bindonce="data.thisNeed.priceStr"
                          bo-text="data.thisNeed.priceStr"></span>
                    </div>
                    <div class="clear" style="margin-top:10px;font-size: 0.8rem">
                        <span class="left">地区要求:</span>
                        <span class="left"
                              bindonce="data.thisNeed.city"
                              bo-text="data.thisNeed.city"></span>
                        <span ng-if="userShow" class='fa fa-map-marker right' style=''></span>
                        <span ng-if="userShow" class='right' style='' bindonce="data.userData"
                              bo-text='data.userData.far + "km"'></span>
                    </div>

                    <div ng-if="userShow" class="clear"
                         style="font-size: 1rem;margin-top: 2rem;color: #777;width: 100%"
                         bindonce="data.thisNeed.content"
                         bo-text="data.thisNeed.content"></div>
                </div>
            </div>
        </div>

        <div class="clear" ng-if="userShow">
            <!--头像-->
            <div class="line" style="margin-top: 2.5rem"></div>
            <div class="clear"></div>
            <div class="lan clear" style="margin-top: 1rem;font-size: 0.8rem">用户资料:</div>
            <div class="clear itemFrom " style="margin-top: 1rem">
                <div class="left" style="width: 71px;height: 71px;overflow: hidden;border: 1px solid #f4f4f4">
                    <img bindonce="data.userData.headerImg" bo-src="data.userData.headerImg" alt=""
                         style="width: 70px;height: auto">
                </div>
                <div class="left" style="font-size: 0.8rem ;margin-left: 1rem;color: #777">
                    <span class="clear lan" style="font-size: 1rem" bindonce="data.userData.name"
                          bo-text="data.userData.name"></span>
                    <span class="clear" bindonce="data.userData.sex" bo-text="data.userData.sex"></span>
                    <span class="clear" bindonce="data.userData.age" bo-text="data.userData.age"></span>
                </div>
                <div class="right" style="font-size: 0.8rem ;margin-left: 1rem;color: #777;text-align: right">
                    <span class="clear lan" style="" bindonce="data.userData.city"
                          bo-text="data.userData.city"></span>
                    <span class="clear" bindonce="data.userData.mt" bo-text="data.userData.mt"></span>
                </div>
            </div>

            <div class="clear line" style="margin-top: 1rem"></div>
            <div class="lan clear " style="margin-top: 1rem;font-size: 0.8rem" ng-show="data.userPingJia[0]">评价:
            </div>
            <div class="clear itemFrom " style="margin-top:3px" ng-show="data.userPingJia[0]">
                <div class="clear " style="font-size: 1rem; width: 100%;">
                    <!--评价-->
                    <div class="clear" style="margin-top: 5px"
                         bindonce="data.userPingJia"
                         ng-repeat="voUping in data.userPingJia" ng-if="data.userPingJia[0]">
                        <div class="left">
                            <img bindonce="voUping.uid.headerImg" bo-if="voUping.uid.headerImg"
                                 bo-src="voUping.uid.headerImg"
                                 style="width: 20px;height: 20px;border-radius:20px;"
                                 alt="">
                        </div>
                        <div class="left hui" style="font-size: 0.8rem;margin-left: 3px" bindonce="voUping"
                             bo-if="voUping.uid.name"
                             bo-text="voUping.uid.name"></div>
                        <div class="left hui" style="font-size: 0.8rem;margin-left: 3px" bindonce="voUping"
                             bo-if="!voUping && !voUping.uid &&!voUping.uid.name"
                             bo-text="voUping.uid.mt"></div>
                        <div class="left" style="font-size: 0.8rem;margin-left: 10px;"
                             bindonce="voUping.content" bo-text="voUping.content"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear" ng-if="userShow">
            <!--其他需求-->
            <div class="line" style="margin-top: 2.5rem"></div>
            <div class="clear"></div>
            <div class="clear" style="margin-top: 1.5rem;width: 100%" ng-if="data.needList[0]">
                <div class="clear" style="font-size: 0.8rem; width: 100%">
                    <span class="clear lan">更多需求:</span>
                </div>
                <div class="clear mui-btn"
                     style="font-size: 0.8rem; width: 100%;text-align: left;border-color: #e9e9e9;margin-top: 0.8rem;color: #777"
                     bindonce="data.needList"
                     bo-id="'needlist_' + vo._id"
                     bo-attr
                     bo-attr-subid="vo._id"
                     ng-repeat="vo in data.needList"
                     bo-html="vo.title +'&nbsp;&nbsp;&nbsp;<i>' + vo.priceStr + '</i>'">
                </div>
            </div>
        </div>

        <!--选单-->
        <div class="clear" ng-show="userSelect">
            <div class="clear" ng-show="(data.thisNeed.state != 1) && (data.thisNeed.state !=2)">
                <!--已经选好-->
                <div class="clear" style="margin-top: 2rem" ng-show="data.thisNeed.state == 3">

                    <div class="clear line" style="font-size: 1rem; width: 100%;">
                        <div class="clear"></div>
                        <div class="clear lan" style="margin-top: 1.5rem">已选单</div>
                        <div class="clear">
                            <div class="clear item" style="margin-top: 0.8rem;border: 1px solid #f4f4f4;padding: 5px"
                                 bindonce="data.thisNeed.bidUser"
                                 bo-attr
                                 bo-attr-uid="data.thisNeed.bidUser.uid"
                            >
                                <div class="left">
                                    <!--头像-->
                                    <div class="left"
                                         style="width: 30px;height: 30px;overflow: hidden;">
                                        <img bindonce="data.thisNeed.bidUser.bindUid.headerImg"
                                             bo-src="data.thisNeed.bidUser.bindUid.headerImg" alt=""
                                             style="width: 30px;height: auto">
                                    </div>
                                    <!--姓名显示-->
                                    <div class="left lan" style="font-size: 14px;margin-left: 3px;line-height: 14px">
                                        <span class="clear" bindonce="data.thisNeed.bidUser.bindUid.name"
                                              bo-text="data.thisNeed.bidUser.bindUid.name"></span>
                                        <!--城市显示-->
                                        <span class="left hui"
                                              style="font-size:12px;" bindonce="data.thisNeed.bidUser.bindUid.city"
                                              bo-text="data.thisNeed.bidUser.bindUid.city">

                                    </span>
                                        <!--性别-->
                                        <span class="left hui"
                                              style="font-size: 12px;" bindonce="data.thisNeed.bidUser.bindUid.sex"
                                              bo-text="'&nbsp;'+data.thisNeed.bidUser.bindUid.sex">
                                    </span>
                                        <!--年龄-->
                                        <span class="left hui"
                                              style="font-size: 12px;" bindonce="data.thisNeed.bidUser.bindUid.age"
                                              bo-text="'&nbsp;'+data.thisNeed.bidUser.bindUid.age">
                                    </span>
                                    </div>

                                </div>
                                <div class="left mui-btn " style="margin-left: 1rem;border-color: #fff;color: #777"
                                     bindonce="data.thisNeed.bidUser.uid" bo-attr
                                     bo-attr-uid="data.thisNeed.bidUser.uid"
                                     bo-id="'telCallSelect_' + data.thisNeed.bidUser.uid"
                                     ng-show="data.thisNeed.bidUser.bindUid.telType == 'yunXun'">
                                    <i class="fa fa-phone fa-1x"></i>
                                </div>
                                <div class="left mui-btn" style="margin-left: 1rem;border-color: #fff;color: #777"
                                     bindonce="data.thisNeed.bidUser.uid"
                                     bo-attr
                                     bo-attr-uid="data.thisNeed.bidUser.uid"
                                     bo-attr-headerimg="data.thisNeed.bidUser.bindUid.headerImg"
                                     bo-attr-gname="data.thisNeed.bidUser.bindUid.name"
                                     bo-id="'imCallSelect_' + data.thisNeed.bidUser.uid">
                                    <i class="fa fa-comments fa-1x"></i>
                                </div>

                                <div class="right mui-btn"
                                     style="margin-left: 1rem;color: red;border-color: #fff"
                                >
                                    <i class="fa fa-1x fa-check"></i>
                                </div>

                            </div>

                            <div class="clear"></div>

                            <!--评价-->

                            <div class="clear" style="margin-top: 5px"
                                 bindonce="data.pingJia" ng-if="data.thisNeed.pingJiaState == 3"
                                 ng-repeat="voPj in data.pingJia">
                                <div class="left">
                                    <img bindonce="voPj.uid.headerImg" bo-if="voPj.uid.headerImg"
                                         bo-src="voPj.uid.headerImg"
                                         style="width: 20px;height: 20px;border-radius:20px;"
                                         alt="">
                                </div>
                                <div class="left" style="font-size: 0.8rem;margin-left: 3px" bindonce="voPj"
                                     bo-if="voPj.uid.name"
                                     bo-text="voPj.uid.name"></div>
                                <div class="left" style="font-size: 0.8rem;margin-left: 3px" bindonce="voPj"
                                     bo-if="!voPj.uid.name"
                                     bo-text="voPj.uid.mt"></div>
                                <div class="left" style="font-size: 0.8rem;margin-left: 10px;"
                                     bindonce="voPj.content" bo-text="voPj.content"></div>
                            </div>

                        </div>
                    </div>
                    <div class="clear" style="margin-top: 2rem">
                        <textarea ng-if="!data.pingJiaTrue" name=""
                                  style="width: 100%;height: 100px;"
                                  placeholder="给个评价吧..." id="pingJia"></textarea>
                    </div>
                    <div class="clear" ng-if="!data.pingJiaTrue" style="margin-top: 0rem;width: 100%">
                        <div class="mui-btn" id="givePingJiaBtn"
                             style="width: 100%;background-color: #30a080;color: #fff">提&nbsp;交
                        </div>
                    </div>


                </div>

                <!--过期-->
                <div ng-show="data.thisNeed.state == 4">
                    <div class="clear lan " style="margin-top: 1.5rem">订单已过期</div>
                    <!--<div class="clear lan mui-btn" style="margin-top: 1.5rem">重新发布</div>-->
                </div>
            </div>

            <!--发起-->
            <div ng-show="data.thisNeed.state == 1">
                <div class="clear lan mui-btn" style="margin-top: 1.5rem" id="noOrderGoHome">暂时无人接单,去看看其他人的技能吧!</div>
            </div>
            <!--选单-->
            <div class="clear" ng-show="data.thisNeed.state == 2">
                <div class="clear line" style="font-size: 1rem; width: 100%;">
                    <div class="clear"></div>
                    <div class="clear lan" style="margin-top: 1.5rem">接单列表:</div>
                    <div class="clear">
                        <div class="clear item" style="margin-top: 0.8rem;border: 1px solid #f4f4f4;padding: 5px"
                             bindonce="data.thisNeed.bidUserArr"
                             ng-repeat="vo in data.thisNeed.bidUserArr"
                             bo-attr
                             bo-attr-uid="vo.uid"
                        >
                            <div class="left">
                                <!--头像-->
                                <div class="left"
                                     style="width: 30px;height: 30px;overflow: hidden;">
                                    <img bindonce="vo.headerImg" bo-src="vo.headerImg" alt=""
                                         style="width: 30px;height: auto">
                                </div>
                                <!--姓名显示-->
                                <div class="left lan" style="font-size: 14px;margin-left: 3px;line-height: 14px">
                                    <span class="clear" bindonce="vo.userNameShow" bo-text="vo.userNameShow"></span>
                                    <!--城市显示-->
                                    <span class="left hui"
                                          style="font-size:12px;" bindonce="vo.city" bo-text="vo.city">

                                    </span>
                                    <!--性别-->
                                    <span class="left hui"
                                          style="font-size: 12px;" bindonce="vo.sex" bo-text="'&nbsp;'+vo.sex">
                                    </span>
                                    <!--年龄-->
                                    <span class="left hui"
                                          style="font-size: 12px;" bindonce="vo.age" bo-text="'&nbsp;'+vo.age">
                                    </span>
                                </div>
                            </div>
                            <div class="left mui-btn " style="margin-left: 1rem;border-color: #fff;color: #777"
                                 bindonce="vo.uid" bo-attr bo-attr-uid="vo.uid" bo-id="'telCall_' + vo.uid"
                                 ng-show="vo.isCanCallTel">
                                <i class="fa fa-phone fa-1x"></i>
                            </div>
                            <div class="left mui-btn" style="margin-left: 1rem;border-color: #fff;color: #777"
                                 bindonce="vo.uid"
                                 bo-attr
                                 bo-attr-uid="vo.uid"
                                 bo-attr-headerimg="vo.headerImg"
                                 bo-attr-gname="vo.userNameShow"
                                 bo-id="'imCall_' + vo.uid">
                                <i class="fa fa-comments fa-1x"></i>
                            </div>

                            <div class="right mui-btn" style="margin-left: 1rem;color: #dadada" bindonce="vo.uid"
                                 bo-attr bo-attr-gname="vo.userNameShow" bo-attr-uid="vo.uid"
                                 bo-id="'selectUser_' + vo.uid">
                                选
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

