<div id="orderFrom">
    <div class="clear" style="margin-top: 1.5rem;width: 100%">
        <div class="lan clear" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem"
             ng-show="!isHaveJinengOrderFrom && !isHaveNeedOrderFrom">
            暂无订单!
        </div>
        <div id="jinengOrderFrom" ng-show="isHaveJinengOrderFrom">
            <div class="lan clear" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">技能订单</div>

            <div class="clear" style="margin-top: 1rem" bindonce="list.jiNengOrderList"
                 ng-repeat="vo in list.jiNengOrderList" bo-id="'jinengOreder_'+vo.orderId._id">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #e3f5f9">
                    <div class="left hui">{{$index + 1}}.</div>
                    <div class="left lan" style="margin-left: 1rem" bo-text="vo.orderId.title"></div>
                    <div class="left" style="margin-left: 1rem">
                        <span class="left" style="color: #777;font-size: 0.8rem" bindonce="vo.orderUid"
                              bo-if="vo.orderUid.name" bo-text="vo.orderUid.name"></span>
                        <span class="left" style="color: #777;font-size: 0.8rem" bindonce="vo.orderUid"
                              bo-if="!vo.orderUid.name" bo-text="vo.orderUid.mt"></span>
                        <span class="left">
                        <i class="fa fa-ellipsis-h fa-2x"
                           style="width: 7px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;"
                           bo-if="!vo.bindUidIsReadMark"></i>
                        </span>
                    </div>
                    <div class="right  fa fa-angle-right" style="margin-top: 3px"></div>
                </div>
            </div>
        </div>

        <div id="needOrderFrom" style="margin-top: 2.5rem" ng-show="isHaveNeedOrderFrom">
            <div class="lan" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">需求订单</div>
            <div class="clear" style="margin-top: 1rem" bindonce="list.needOrderList"
                 ng-repeat="vo2 in list.needOrderList" bo-id="'needOrder_'+vo2.orderId">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #eff7ef">
                    <div class="left lan" style="margin-left: 1rem;" bo-text="vo2.title"></div>
                    <div class="left" style="margin-left: 1rem">
                        <span class="left"
                              style="font-size: 0.8rem"
                              bo-if="vo2.beiDongJieDan[0] && vo2.beiDongJieDan[0].name"
                        >等</span>
                        <span class="left" style="color: red;font-size: 0.8rem"
                              bindonce="vo2"
                              bo-if="vo2.beiDongJieDan[0] && vo2.beiDongJieDan[0].name"
                              bo-text="vo2.beiDongJieDan[0].name"></span>
                        <span class="left" style="color: red;font-size: 0.8rem"
                              bindonce="vo2"
                              bo-if="vo2.beiDongJieDan[0] && !vo2.beiDongJieDan[0].name"
                              bo-text="vo2.beiDongJieDan[0].mt"></span>

                        <span class="left"
                              style="font-size: 0.8rem"
                              bo-if="vo2.beiDongJieDan[0] && vo2.beiDongJieDan[0].name"
                        >接单</span>

                        <span class="left" style="font-size: 0.8rem;margin-left: 3px"
                              bindonce="vo2"
                              bo-if="vo2.beiDongJieDan[0] && vo2.jieDanCount > 0"
                        >还有</span>
                        <span class="left" style="color: red;font-weight: bolder;font-size: 0.8rem"
                              bindonce="vo2"
                              bo-if="vo2.jieDanCount > 0"
                              bo-text="vo2.jieDanCount"
                        ></span>
                        <span class="left" style="font-size: 0.8rem;margin-left: 3px"
                              bindonce="vo2"
                              bo-if="vo2.jieDanCount > 0"
                        >人抢单</span>
                        <span class="left">
                        <i class="fa fa-ellipsis-h fa-2x"
                           style="width: 7px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;"
                           bo-if="vo2.isNoRead"></i>
                        </span>
                    </div>
                    <div class="right  fa fa-angle-right" style="margin-top: 3px"></div>
                </div>
            </div>
        </div>

        <div id="selectOrderFrom" style="margin-top: 2.5rem" ng-show="isHaveSelectOrderFrom">
            <div class="lan" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">成交订单</div>
            <div class="clear" style="margin-top: 1rem" bindonce="list.selectOrderList"
                 ng-repeat="vo3 in list.selectOrderList" bo-id="'selectOrder_'+vo3.orderId">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #f7e2e1">
                    <div class="left lan" style="margin-left: 1rem;" bo-text="vo3.needOrderTitle"></div>
                    <div class="left" style="margin-left: 1rem">
                        <span class="left" style="color: red;font-weight: bolder;font-size: 0.8rem"
                              bo-text="vo3.needOrederJionCount"></span>
                        <span class="left " style="font-size: 0.8rem">人接单</span>
                        <span class="left">
                        <i class="fa fa-ellipsis-h fa-2x"
                           style="width: 7px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;"
                           bo-if="vo3.isNoRead"></i>
                        </span>
                    </div>
                    <div class="right  fa fa-angle-right" style="margin-top: 3px"></div>
                </div>
            </div>
        </div>

        <div id="loseOrderFrom" style="margin-top: 2.5rem" ng-show="isHaveLoseOrderFrom">
            <div class="lan" style="font-size: 1rem;margin-left: 1rem;margin-bottom: 2rem">失效订单</div>
            <div class="clear" style="margin-top: 1rem" bindonce="list.loseOrderList"
                 ng-repeat="vo4 in list.loseOrderList" bo-id="'loseOrder_'+vo4.orderId">
                <div class="clear"
                     style="width: 100%;padding:10px;text-align: left;font-size: 1rem;color:#777;border-color: #fff;background-color: #f0f0ec">
                    <div class="left lan" style="margin-left: 1rem;" bo-text="vo4.needOrderTitle"></div>
                    <div class="left" style="margin-left: 1rem">
                        <span class="left" style="color: red;font-weight: bolder;font-size: 0.8rem"
                              bo-text="vo4.needOrederJionCount"></span>
                        <span class="left " style="font-size: 0.8rem">人接单</span>
                        <span class="left">
                        <i class="fa fa-ellipsis-h fa-2x"
                           style="width: 7px;overflow-x: hidden;color: #db5140;margin-left: 5px;margin-top: -7px;"
                           bo-if="vo4.isNoRead"></i>
                        </span>
                    </div>
                    <div class="right  fa fa-angle-right" style="margin-top: 3px"></div>
                </div>
            </div>
        </div>


    </div>
</div>
