<div style="margin-top: -50px;padding: 1rem">
    <div class="title" style="margin-bottom: 20px">发布技能</div>
    <div class="line"></div>
    <div class="mui-table-view mui-table-view-chevron clear" style="margin-top: 40px">
        <form name="addFrom" novalidate>
            <div class="left" style="margin-top: 7px;width: 20%">性别:</div>
            <div class="left">
                <div class="mui-input-row mui-radio mui-left left" style="width: 100px">
                    <label style="padding-top: 8px">男</label>
                    <input name="radio1" type="radio">
                </div>
            </div>
            <div class="left">
                <div class="mui-input-row mui-radio mui-left left" style="width:100px">
                    <label style="padding-top: 8px">女</label>
                    <input name="radio1" type="radio">
                </div>
            </div>
            <!--<div class="form-group ">-->
            <!--<input type="text" name="title" required ng-model="form.title"-->
            <!--class="form-control"-->
            <!--placeholder="标题">-->
            <!--</div>-->
            <!--<div class="form-group ">-->
            <!--<textarea type="text" name="content" required ng-model="form.content"-->
            <!--class="form-control"-->
            <!--placeholder="内容"></textarea>-->
            <!--</div>-->
            <!--<div class="clearThis"></div>-->
            <!--<div class="clear"></div>-->
            <!--<button style="width:100%;font-size: 17px;font-weight: bold" ng-click="formSub()"-->
            <!--class="btn btn-danger btn-block btn-lg">-->
            <!--提交-->
            <!--</button>-->

        </form>
    </div>
</div>