<div class="four column wide  ">
    <div class="ui vertical text menu " id="leftNavAction">
        <div class="header item"><i class="icon huge black setting"></i></div>
        <a class="active item leftClickButton" id="addButton" >
            <i class="add icon"></i> 增加
            <!--对应 id="uiAdd" div-->
        </a>
        <a class="item leftClickButton" id="editButton" >
            <i class="wrench icon"></i> 修改
            <!--对应 id="uiEdit" div-->

        </a>
        <a class="item leftClickButton" id="delButton" >
            <!--对应 id="uiDel" div-->
            <i class="trash icon"></i> 删除
        </a>
    </div>
</div>