


<div class="pageHeader">

</div>
<div class="pageContent">
<div class="panelBar">
    <ul class="toolBar">
        <li><a class="add" href="__URL__/add" target="dialog" rel="add" width="645" height="370"><span>添加</span></a></li>
        <li><a class="delete" href="/Public/dwz/demo/common/ajaxDone.html?uid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
        <li><a class="edit" href="/Public/dwz/demo_page4.html?uid={sid_user}" target="navTab"><span>修改</span></a></li>
        <li class="line">line</li>
    </ul>
</div>
<table class="table" width="100%" layoutH="138">
<thead>
<tr>
    <th width="80"></th>
    <th width="120">客户号</th>
    <th>客户名称</th>
    <th width="100">客户类型</th>
    <th width="150">证件号码</th>
    <th width="80" align="center">信用等级</th>
    <th width="80">所属行业</th>
    <th width="80">建档日期</th>
</tr>
</thead>
<tbody>
<tr target="sid_user" rel="1">
    <td>天津农信社</td>
    <td>A120113196309052434</td>
    <td>天津市华建装饰工程有限公司</td>
    <td>联社营业部</td>
    <td>29385739203816293</td>
    <td>5级</td>
    <td>政府机构</td>
    <td>2009-05-21</td>
</tr>

</tbody>
</table>
<div class="panelBar">



</div>
</div>
