<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title ng-controller="header">{{title}}</title>
    <link rel="stylesheet" href="/Public/resCreate/css/dist/app.css"/>
</head>

<body class="angularEnd">
<div class="allDiv">
    <div class="topHeader" style="display: block;width: 100%;">
        <div class="leftLogoImg" style="float: left;">
            <img src="/Public/images/logo.png" style="float: left;
    width: 55px;
    margin-top: 10px;
    margin-left: 0px;" alt=""/>

            <div id="topText" style="">
                <a href="/"> <span id="logoText" class="left"
                                   style="font-size: 24px;font-weight: bold;margin-left: 70px">地盘</span></a>
                <span class="left" style="margin-left: 10px;margin-top: 10px">diPan.So</span>
            </div>
        </div>

        <!-- areaKey directive -->
        <div area-key style="margin-top: 40px"></div>
        <div id="leftLogo" class="left">
            <div class="topDiZhu left">
                <div class="name">
                    <div style="font-weight: bold">
                        <span class="left">地主:</span>

                        <div class="left">
                            &nbsp;[&nbsp;空缺中&nbsp;]
                        </div>
                        <div class=" left" style="margin-top: -6px">
        <span class="btn btn-success btn-xs" style="margin-left: 10px;color: #fff"
              click-router-ui-block="alertDiv.alertInfo" item="2">抢地盘</span>
                        </div>
                        <div class="wenHao left"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentDiv" id="contentDiv">
            <!--左侧导航-->
            <div id="block1">
            </div>
            <div id="block2" left-nav>
                {$d2}
            </div>
            <div id="block3">
                {$d3}
            </div>
        </div>
    </div>

    <div class="otherDiv">
        <div alert-info></div>
        <div alert-warn="2"></div>
    </div>

</div>

<!--数据div-->
<div url-parse={$indexAllRe}></div>

<!--调试div 浮动 100%-->
<div class="clear" style="position: fixed;z-index: 3000;background-color: #fff;width: 100%;height: 100%;display: none">
</div>
<script>
    var dist = false;
    if (dist) {
        document.write('<script src="/Public/resCreate/js/app/dist/app.js?{$jsDate}"><\/script>');
    }
    else {
        document.write('<script src="/Public/resCreate/js/app/dist/appDev.js?{$jsDate}"><\/script>');
        document.write('<link rel="stylesheet" href="/Public/resCreate/css/dist/app.css?{$jsDate}"\/>');
    }
</script>
</body>
</html>