<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

{//headBlockStart}
<block name="head">
    <head>
        <title>
            {$seoTitle}
        </title>
        <meta name="keywords" content="{$g.getG.siteName}"/>
        <meta name="description" content="1分钟，找到身边的人 ."/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </head>
</block>
{//geadBlockEnd}

<body class="clearThis" ng-controller="diPanBody">
{//顶部BlockStart}
<block name="top">
    {//声明top控制器，包括切换城市动作，注册相关动作 15-3-14}
    <div class="allWidth top" ng-controller="diPanTop">
        <div class="content_width">
            <div class="left">
                <div class="left location">
                    <div class="left">
                        <notempty name="_SESSION['place']['oneCityInfo']['name']">
                            {$_SESSION['place']['oneCityInfo']['name']}
                            <else/>
                            全国
                        </notempty>
                    </div>
                    <div class="left font_link linkMouse" ng-click="qieHuanClick()">［切换城市］</div>
                </div>
            </div>

            <neq name="_SESSION['isLogin']" value="true">

            {//注册登录 判断未登录显示 15-6-17}
            <div class="right">
                <div class="left linkMouse font_link " ng-click="showReg()">注册</div>
                <div class="left ml3">|</div>
                <div class="left linkMouse font_link ml3" ng-click="showLogin()">登录</div>
                <div class="left linkMouse ml20">
                    <div class="setting_icon left little_icon"></div>
                    <div class="left font_link">修改／删除信息</div>
                </div>
            </div>
            </neq>

            <eq name="_SESSION['isLogin']" value="true">

            {//登录显示会员信息会员 15-6-17}
            <div class="right">
                <div class="left linkMouse font_link">{$_SESSION['mt']}</div>
                <div class="left ml3">|</div>
                <div class="left linkMouse font_link ml3" style="color:#9B410E"><a href="/Member/MemberIn/" style="color: #ddd;">会员中心</a></div>
                <div class="left ml3">|</div>
                <div class="left linkMouse font_link ml3 " ><a href="/Member/MemberIn/logOut">退出</a></div>
                <div class="left linkMouse ml20">
                    <div class="setting_icon left little_icon"></div>
                    <div class="left font_link">修改／删除信息</div>
                </div>
            </div>
            </eq>

        </div>

        {//载入切换城市Block}
        <include file="./FrontApplication/Home/View/block/allCity.html"/>

        {//载入 登录,注册,忘记密码Block}
        <include file="./FrontApplication/Home/View/block/reg.html"/>
        <include file="./FrontApplication/Home/View/block/login.html"/>
        <include file="./FrontApplication/Home/View/block/forgetPass.html"/>
    </div>
    <div class="all_width header_height">
        <div class="content_width">
            <div class="logo clearThis left">
                <a href="http://www.dipan.so/"><img src="/Public/images/logo.png" alt=""/></a>
            </div>


            <style>
                #memberCenterTitle {
                    display: none;
                }
            </style>
            {//会员中心title 15-6-17}
            <div class="left" id="memberCenterTitle" style="margin-top: 30px;">
                <div class="left member_logo_line"></div>
                <div class="left clearThis member_logo">
                    会员中心
                </div>
            </div>

            <div class="header_right right">
                <div class="search_block  left">
                    <div class="left"><input class="input_block" type="text" placeholder="请输入关键词或分类名"/></div>
                    <div class="left btn_red search_button" style="border-radius: 0px;border-left: 0">搜索</div>
                </div>
                <div class="sendMessage btn-green left">发信息</div>
                <div class="createLand left btn_orange">圈地盘</div>
            </div>
        </div>
    </div>
</block>
{//顶部BLOCKEnd}

{//contentBlockStart}
<block name="content">
<div class="clearThis">
<div class="all_width content_white clearThis">
<div class="latest_news"></div>
<div class="content_width clearThis mt30">
<div class="content_left left">
    <div class="message_block clearThis">
        <div class="message_item_big">
            <div class="message_title">
                <div class="left message_img_bg message_0">
                    <div class="message_img message_img_0 little_icon"></div>
                </div>
                <div class="left ml10 message_title_font font_link linkMouse">生活服务&nbsp;&nbsp;...</div>
            </div>
            <div class="message_content_big clearThis">
                <div class="message_content_big_block left">
                    {//生活服务分类循环}
                    <volist name="category" id="voPro">
                        <eq name="voPro.type" value="1">
                            <php>
                                static $voProLeft = 0;
                                $voProLeft ++;
                            </php>
                            <lt name="voProLeft" value="6">
                                <div class="clearThis">
                                    <div class="content_class font_link linkMouse"><a href="{$voPro.url}">{$voPro.name}&nbsp;&nbsp;></a>
                                    </div>
                                    <div class="content_item linkMouse clearThis">
                                        <volist name="category" id="voPro2">
                                            <eq name="voPro2.pid" value="$voPro['_id']">
                                                <php>
                                                    static $pro2 = 0;
                                                    $pro2++;
                                                </php>
                                                <div class="left <neq name='pro2' value='1'> ml10 </neq> font_link">


                                                    <a href="{$voPro2.url}">{$voPro2.name}</a>
                                                </div>
                                            </eq>
                                        </volist>
                                        <php>$pro2 = 0;</php>
                                    </div>
                                </div>
                            </lt>
                        </eq>
                    </volist>
                    {//生活频道分类循环left结速}
                </div>
                <div class="center_line left"></div>
                <div class="message_content_big_block left">

                    {//生活服务分类循环}
                    <volist name="category" id="voPro">
                        <eq name="voPro.type" value="1">
                            <php>
                                static $voProLeft2 = 0;
                                $voProLeft2 ++;
                            </php>
                            <gt name="voProLeft2" value="5">
                                <div class="clearThis">
                                    <div class="content_class font_link linkMouse"><a href="{$voPro.url}">{$voPro.name}&nbsp;&nbsp;</a>
                                    </div>
                                    <div class="content_item linkMouse clearThis">
                                        <volist name="category" id="voPro2">
                                            <eq name="voPro2.pid" value="$voPro['_id']">
                                                <php>
                                                    static $pro2 = 0;
                                                    $pro2++;
                                                </php>
                                                <div class="left <neq name='pro2' value='1'> ml10 </neq> font_link">
                                                    <a href="{$voPro2.url}">{$voPro2.name}</a>
                                                </div>
                                            </eq>
                                        </volist>
                                        <php>$pro2 = 0;</php>
                                    </div>
                                </div>
                            </gt>
                        </eq>
                    </volist>
                    {//生活频道分类循环right结束}

                </div>

            </div>
        </div>
        <div class="message_item ml3">
            <div class="message_title">
                <div class="left message_img_bg message_1">
                    <div class="message_img message_img_1 little_icon"></div>
                </div>
                <div class="left ml10 message_title_font font_link linkMouse">房产&nbsp;&nbsp;...</div>
            </div>
            <div class="message_content">
                <div class="message_content_item font_link">房产交易</div>
                <div class="message_content_item font_link">商品房出售</div>
                <div class="message_content_item font_link">租住／出租</div>
                <div class="message_content_item font_link">商铺转让</div>
                <div class="message_content_item font_link">在线订房</div>
                <div class="message_content_item font_link">厂房／仓库</div>
                <div class="message_content_item font_link">厂房／仓库</div>
                <!--<div class="message_content_more font_link mt20">更多...</div>-->

            </div>
        </div>
        <div class="message_item ml3">
            <div class="message_title">
                <div class="left message_img_bg message_2">
                    <div class="message_img message_img_2 little_icon"></div>
                </div>
                <div class="left ml10 message_title_font font_link linkMouse">车辆&nbsp;&nbsp;...</div>
            </div>
            <div class="message_content">
                <div class="message_content_item font_link">车辆交易</div>
                <div class="message_content_item font_link">学车考证</div>
                <div class="message_content_item font_link">出租／租车</div>
                <div class="message_content_item font_link">拼车／顺风车</div>
                <div class="message_content_item font_link">代驾</div>
                <div class="message_content_item font_link">爱车保养</div>
                <div class="message_content_item font_link">爱车保养</div>
                <!--<div class="message_content_more font_link mt20">更多...</div>-->

            </div>
        </div>
    </div>
    <div class="message_block mt10 clearThis">
        <div class="message_item">
            <div class="message_title">
                <div class="left message_img_bg message_3">
                    <div class="message_img message_img_3 little_icon"></div>
                </div>
                <div class="left ml10 message_title_font font_link linkMouse">招聘／求职&nbsp;&nbsp;...</div>
            </div>

            <div class="message_content">
                <div class="message_content_item font_link">热门招聘</div>
                <div class="message_content_item font_link">快速上岗</div>
                <div class="message_content_item font_link">招聘会</div>
                <div class="message_content_item font_link">合作创业</div>
                <div class="message_content_item font_link">应届实习</div>
                <div class="message_content_item font_link">兼职／短工</div>
                <div class="message_content_item font_link">兼职／短工</div>
                <!--<div class="message_content_more font_link mt20">更多...</div>-->

            </div>
        </div>
        <div class="message_item ml3">

            <div class="message_title">
                <div class="left message_img_bg message_4">
                    <div class="message_img message_img_4 little_icon"></div>
                </div>
                <div class="left ml10 message_title_font font_link linkMouse">教育／培训&nbsp;&nbsp;...</div>
            </div>
            <div class="message_content">
                <div class="message_content_item font_link">职业培训</div>
                <div class="message_content_item font_link">文艺兴趣</div>
                <div class="message_content_item font_link">认证培训</div>
                <div class="message_content_item font_link">启蒙／入学</div>
                <div class="message_content_item font_link">留学签证</div>
                <div class="message_content_item font_link">考前辅导</div>
                <div class="message_content_item font_link">考前辅导</div>
                <!--<div class="message_content_more font_link mt20">更多...</div>-->

            </div>
        </div>
        <div class="message_item ml3"></div>
        <div class="message_item ml3"></div>
    </div>

</div>
<div class="content_right left">
    <div class="message_block clearThis">
        {//include talkSocket}
        <include file="block/talkSocket"/>
    </div>
    <div class="message_block mt10 clearThis">
        <div class="message_item_right">
            <div class="message_title">
                <div class="left message_img_bg message_1">
                    <div class="message_img message_img_1 little_icon"></div>
                </div>
                <div class="left ml10 message_title_font font_link linkMouse">房产&nbsp;&nbsp;...</div>
            </div>
            <div class="message_content_right">
                <div class="message_content_item font_link">房产交易</div>
                <div class="message_content_item font_link">商品房出售</div>
                <div class="message_content_item font_link">租住／出租</div>
                <div class="message_content_item font_link">商铺转让</div>
                <div class="message_content_item font_link">在线订房</div>
                <div class="message_content_item font_link">厂房／仓库</div>
                <div class="message_content_item font_link">厂房／仓库</div>
                <!--<div class="message_content_more font_link mt20">更多...</div>-->

            </div>
        </div>
        <div class="message_item_right ml3">
            <div class="message_title">
                <div class="left message_img_bg message_2">
                    <div class="message_img message_img_2 little_icon"></div>
                </div>
                <div class="left ml10 message_title_font font_link linkMouse">车辆&nbsp;&nbsp;...</div>
            </div>
            <div class="message_content_right">
                <div class="message_content_item font_link">车辆交易</div>
                <div class="message_content_item font_link">学车考证</div>
                <div class="message_content_item font_link">出租／租车</div>
                <div class="message_content_item font_link">拼车／顺风车</div>
                <div class="message_content_item font_link">代驾</div>
                <div class="message_content_item font_link">爱车保养</div>
                <div class="message_content_item font_link">爱车保养</div>
                <!--<div class="message_content_more font_link mt20">更多...</div>-->

            </div>
        </div>
    </div>
</div>
</div>
<div class="all_width content_gray clearThis">

    <div class="content_width clearThis">
        <div class="content_left left">
            <div class="message_block clearThis">
                <div class="message_item"></div>
                <div class="message_item ml3"></div>
                <div class="message_item ml3"></div>
                <div class="message_item ml3"></div>
            </div>
            <div class="message_block mt10 clearThis">
                <div class="message_item"></div>
                <div class="message_item ml3"></div>
                <div class="message_item ml3"></div>
                <div class="message_item ml3"></div>
            </div>

        </div>
        <div class="content_right left">
            <div class="message_block"></div>
            <div class="message_block mt10"></div>
        </div>
    </div>
</div>
</div>
</div>
</block>
{//contentBlockEnd}


{//footerBlockStart}
<block name="footer">
    <div class="all_width footer">
        <div class="content_width">
            <a href="http://www.miitbeian.gov.cn/">津ICP备14005697号</a>
        </div>
    </div>

    <div id="gai"></div>
</block>
{//footerBlockEnd}


<link rel='stylesheet' href="{$g.getG.apiHost}/Public/publicCss/style.css"/>
<link rel='stylesheet' href="{$g.getG.apiHost}/Public/publicCss/frontindex.css"/>
<link rel='stylesheet' href="{$g.getG.apiHost}/Public/publicCss/block/topCity.css"/>

{//otherJsBlock Start}
{//首页otherJs，会被模板替换，载入对应 Js}
<block name="otherJs">
    <script type="text/javascript"
            src="http://www.dipan.so:8080/Public/publicDefault/jquery-1.11.0.min.js"></script>
    <script type="text/javascript"
            src="http://www.dipan.so:8080/Public/publicDefault/jquery.easing.min.js"></script>
    <script type="text/javascript"
            src="{$g.getG.apiHost}/Public/itemJs/seajs/app/oeoeFront/public/autocomplete-master/jquery.autocomplete.js"></script>
    <script src="{$g.getG.apiHost}/Public/itemJs/seajs/dist/sea.js" type="text/javascript"></script>
    <script>
        seajs.config({
            debug: false
        });
        seajs.use(["http://www.dipan.so:8080/Public/itemJs/seajs/app/oeoeFront/item/Home/indexHome.js", "http://www.dipan.so:8080/Public/itemJs/seajs/app/oeoeFront/otherJs/talkSocket.js"], function () {
            angular.element(document).ready(function () {
                angular.bootstrap(window.document, ["diPanSo"]);//启动angular
            })
        });
    </script>
    <link rel='stylesheet'
          href="{$g.getG.apiHost}/Public/itemJs/seajs/app/oeoeFront/public/autocomplete-master/jquery.autocomplete.css"/>
</block>
{//otherJs end}
<div class="hide">
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/17648708.js"></script>
</div>
</body>
</html>
