<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title ng-controller="header">{{title}}</title>
    <link rel="stylesheet" href="/Public/resCreate/css/dist/app.css"/>
</head>

<body class="angularEnd">
<div class="allDiv">
    <div class="topHeader" style="display: none">
        <div id="leftLogo">
            <div class="topDiZhu left">
                <div class="name">
                    <div style="font-weight: bold">
                        <span class="left">地主:</span>

                        <div class="left">
                            &nbsp;[&nbsp;空缺中&nbsp;]
                        </div>
                        <div class=" left">
                            <span style="padding: 1px;margin-left: 10px;color: #026b1f" class=" ">抢地盘</span>
                        </div>
                        <div class="wenHao left"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        <!-- areaKey directive -->
        <div area-key></div>
        <div id="getDiPan" class="left" style="margin-top: 7px;margin-left: 12px"
             click-router-ui-block="alertDiv.alertInfo" item="2">
            <span class=" btn btn-success btn-xs">发告示</span>
        </div>
        <div class="contentDiv" id="contentDiv">
            <div id="block1">
            </div>
            <div id="block2">
                {$d2}
            </div>
            <div id="block3">
                {$d3}
            </div>
        </div>
    </div>

    <div class="otherDiv">
        <div alert-info></div>
        <div alert-warn="2"></div>
    </div>

</div>
<!--数据div-->
<div id="dataTemp" ip="{$ip}"></div>

<!--调试div-->
<div class="clear" style="position: fixed;z-index: 3000;background-color: #fff;width: 100%;height: 100%">
    <!--解析url-->
    <div url-parse="{$indexAllRe}">{$indexAllRe}</div>

</div>


<script>
    var dist = true;
    if (dist) {
        document.write('<script src="/Public/resCreate/js/app/dist/app.js"><\/script>');
    }
    else {
        document.write('<script src="/Public/resCreate/js/app/dist/appDev.js"><\/script>');
    }
</script>

</body>

</html>